<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Removal of All Jokes</h1>
    All jokes have been removed from the database.
    <br>
    <br>
    <a href="http://localhost:<%- portEJS %>"><input class="butt" type="button" value="More Jokes"></a>
</body>
</html>