<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Save Joke</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Display All Saved Jokes</h1>
    <%- jokesTable %>
    <a href="http://localhost:<%- portEJS %>"><input class="butt" type="button" value="More Jokes"></a>
</body>