<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Save Joke</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    The joke has been saved. Click the button below to get more jokes.<br>
    <a href="http://localhost:<%- portEJS %>"><input class="butt" type="button" value="More Jokes"></a>
</body>

</html>